/******************GENERAL*****************/

body{
	font-family: corbel,Arial,sans-serif;
	margin: 0;


}

h1{
	font-size: 36PX;

	

}


a{
	text-decoration: none;
	color:#000000
}



/******************HEADER*****************/
#header{
	background-color: #2eb82e;


}


h1{
	font-size: 36PX;
	margin: 0;
	text-align: center;
	padding: 15px 0 0 0;
	text-decoration: none;
	color: #ffffff;
	text-transform: uppercase;

}
H2{
	text-align: center;
	margin: 0;
	color: #ffff;
}

#nav{
	background-color: #00b300;
	text-align: center;
	list-style-type: none;

}

#nav li{
	display: inline-block;
	padding: 6px 8px 6px 8px;

}
#nav li a{
	color:  #ffffff;
}
#nav li:hover{
     background-color: #00ff00;
}

/******************CONTENT*****************/


#content{
	width: 600px;
	margin: 30px auto;

}
#content h4{
	border-bottom: #00ff00 solid 3px;

}

